/* ************************************** */
/* HEADER */
/* ************************************** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #150849;
    padding-top: 2.8rem;
    padding-bottom: 1.8rem;
    padding-left: 10rem;
    padding-right: 15rem;
}

.logo {
    /* height: 2.2rem; */
    max-width: 100%;
}

/* ************************************** */
/* NAVIGATION */
/* ************************************** */

.main-nav {
    font-size: 2.4rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #067bc3;
    text-decoration: underline;
    transform: translate();
    /* animation:  3s ; */
}

.icons {
    color: #fff;
    /* height: 3.2rem;
    width: 2.4rem; */
    font-size: 28px;
    background-color: #150849;
    border: none;
}

.icons:hover,
.icons:active {
    display: inline-block;
    background-color: #2d215c;
    border-radius: 5px;
    padding: 0.5rem;
}

.nav-btn {
    display: inline-block;
    width: 150%;
    /* height: 500; */
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 20%;
    padding-right: 20%;
    color: #fff;
    background-color: #0051ff;
    border-radius: 7%;
    font-size: 18px;
    cursor: pointer;
}

.nav-btn:hover,
.nav-btn:active {
    background-color: #0041cc;
    transition: all 0.3s;
    box-shadow: #067bc3;
}

.paypal {
    color: #fff;
}
